.bg-image {
  position : relative;
  background: linear-gradient(rgba(8,8,8,0.3), rgba(8, 8, 8, 0.3)),
  url('https://thumbs.dreamstime.com/b/wooden-table-food-top-view-cafe-102532611.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}